body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    109.6deg,
    rgb(0, 37, 84) 11.2%,
    rgba(0, 37, 84, 0.32) 100.2%
  );

  color: white;
  font-family: "Silkscreen", cursive;
  font-size: 18px;
}
h1 {
  font-size: 5em;
  line-height: 30px;
  padding: 25px 0;
  font-family: "Black Ops One", cursive;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.menu {
  margin: 20px 50px;
  transition: transform 0.5s;
}
.menu:hover {
  transform: scale(1.5);
}
.intro {
  position: absolute;
  top: 200px;
  left: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px 50px;
}
.icons {
  color: white;
}
.icons:hover {
  color: #002554;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.667em;
  }
  h1 {
    font-size: 2.778em;
  }
}
