body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    179.7deg,
    rgb(248, 126, 126) -0.5%,
    rgb(251, 206, 143) 35.3%,
    rgb(184, 252, 233) 67.2%,
    rgb(118, 162, 229) 92.3%
  );

  color: white;
  font-family: "Silkscreen", cursive;
  font-size: 18px;
  margin: 20px auto;
}

h1 {
  font-size: 6em;
  line-height: 20px;
  margin: 60px 0;
  padding-top: 100px;
  font-family: "Black Ops One", cursive;
}

h3 {
  font-size: 1.2em;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu {
  margin: 20px 30px;
  transition: transform 0.5s;
}
.menu:hover {
  transform: scale(1.3);
}
.menu a {
  color: white;
  text-decoration: none;
  font-size: 19px;
}

.intro {
  position: absolute;
  top: 200px;
  left: 80px;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #fff;
  text-align: right;
  padding: 20px;
  margin-right: 10px;
}

.icons {
  color: white;
}
.icons:hover {
  color: #002554;
}

.timeline-paragraphs {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16.5px;
  margin: 9px 20px;
  text-align: center;
}

.timeline h4 {
  font-size: 23px;
  text-align: center;
}

.email {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
}

#about {
  text-align: center;
  margin-top: 800px;
}

#about p,
#projects .projects-intro {
  width: 55%;
  margin: 0 auto;
  padding: 25px 0 25px 0;
  font-size: 19px;
  font-family: "Space Grotesk", sans-serif;
}

.projects-intro {
  width: 50%;
  margin: 0 auto;
  padding: 25px 0 25px 0;
}

#techAndTools {
  margin-top: 400px;
  text-align: center;
}

#techAndTools h2 {
  margin-bottom: 40px;
}

#projects {
  margin-top: 400px;
  text-align: center;
}

#contact {
  margin-top: 500px;
  margin-bottom: 20px;
  text-align: center;
}

#experience {
  margin-top: 400px;
  text-align: center;
}

#back-to-top-btn {
  display: none; /* hide the button by default */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #333333;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.tech-list {
  list-style: none;
  margin-bottom: 30px;
}

.tech-list .tech-type {
  color: blue;
}

.tech-item {
  padding: 0 170px 0 170px;
  font-size: 20px;
}

.project-list {
  text-align: left;
  max-width: 1300px;
  margin-top: 40px;
}

.project-list h3 {
  font-family: "Silkscreen", cursive;
}

.project-list p {
  font-size: 20px;
}

.eachProjectDiv {
  margin: 0 0 15px 60px;
  font-family: "Space Grotesk", sans-serif;
}

.timeline {
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 6.5rem;
  margin: 0 auto;
  overflow: hidden;
}

.timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  border-right: 2px dashed #4b546f;
  height: 100%;
  display: block;
}

.timeline-row {
  padding-left: 50%;
  position: relative;
}
.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 15px;
  text-align: right;
  margin-right: 20px;
  color: white;
  font-size: 1.5rem;
}

.timeline-row .timeline-time small {
  display: block;
  font-size: 0.8rem;
}
.timeline-row .timeline-content {
  position: relative;
  padding: 7px 7px;
  background: #76a2e4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.timeline-time p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

.timeline-content h4 {
  margin-bottom: 20px;
}
/* 
.timeline-row .timeline-content i {
  padding: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #0c59ca;
  margin-bottom: 10px;
  display: inline-block;
} */

.timeline-row:nth-child(even) .timeline-content {
  margin-left: 40px;
  text-align: left;
}
.timeline-row:nth-child(even) .timeline-content:after {
  left: -8px;
  right: initial;
  border-bottom: 0;
  border-left: 0;
  transform: rotate(-135deg);
}
.timeline-row:nth-child(even) .timeline-content:before {
  left: -52px;
  right: initial;
}
.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
  margin-right: 40px;
}

#scrollUpBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 999;
  cursor: pointer;
  opacity: 0.7;
  background-color: #333;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 50%;
}

#scrollUpBtn i {
  font-size: 20px;
}

.techAndToolsIcons .tech-type {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.techAndToolsIcons i {
  font-size: 60px;
  margin: 15px;
}

.tech-icon {
  position: relative;
}

.tech-icon i:hover:after {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
  font-weight: bold;
  content: attr(title);
  position: absolute;
  bottom: -110%;
  left: 45%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.tech-icon:after {
  display: none;
}

@media (max-width: 992px) {
  .timeline {
    padding: 15px;
  }
  .timeline:after {
    border: 0;
  }
  .timeline .timeline-row:nth-child(odd) {
    padding: 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content {
    margin: 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content:before {
    display: none;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content:after {
    display: none;
  }
  .timeline .timeline-row:nth-child(even) {
    padding: 0;
  }
  .timeline .timeline-row:nth-child(even) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
    text-align: left;
  }
  .timeline .timeline-row:nth-child(even) .timeline-content {
    margin: 0;
  }
  .timeline .timeline-row:nth-child(even) .timeline-content:before {
    display: none;
  }
  .timeline .timeline-row:nth-child(even) .timeline-content:after {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 0.667em;
  }
  h1 {
    font-size: 2.778em;
  }
}
