body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    179.7deg,
    rgb(248, 126, 126) -0.5%,
    rgb(251, 206, 143) 35.3%,
    rgb(184, 252, 233) 67.2%,
    rgb(118, 162, 229) 92.3%
  );

  color: white;
  font-family: "Silkscreen", cursive;
  font-size: 18px;
  margin: 20px auto;
}

h1 {
  font-size: 6em;
  line-height: 20px;
  margin: 60px 0;
  padding-top: 100px;
  font-family: "Black Ops One", cursive;
}

h3 {
  font-size: 1.2em;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: inherit;
  max-width: 1300px;
}

.card {
  position: relative;
  width: 1300px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  perspective: 1000px;
  overflow: hidden;
  color: blue;
  max-width: none;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.front {
  background-color: #f2f2f2;
  text-align: center;
}

.front img {
  width: 100%;
  height: 100%;
}

.front h3 {
  margin-top: 20px;
}

.back {
  transform: rotateY(180deg);
  background-color: #f2f2f2;
  text-align: center;
  padding: 0 12px 12px 12px;
}

.card a {
  font-size: 18px;
  font-weight: bold;
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

.menu {
  margin: 20px 30px;
  transition: transform 0.5s;
}
.menu:hover {
  transform: scale(1.5);
}
.menu a {
  color: white;
  text-decoration: none;
  font-size: 19px;
}

.intro {
  position: absolute;
  top: 200px;
  left: 80px;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #fff;
  text-align: right;
  padding: 20px;
  margin-right: 10px;
}

.icons {
  color: white;
}
.icons:hover {
  color: #002554;
}

.timeline-paragraphs {
  font-family: "Chakra Petch", sans-serif;
  font-size: 17px;
}

.projects-description {
  font-family: "Chakra Petch", sans-serif;
  font-size: 13px;
}

#about {
  text-align: center;
  margin-top: 900px;
}

#about p,
#projects .projects-intro {
  width: 65%;
  margin: 0 auto;
  padding: 25px 0 25px 0;
}

#techAndTools {
  margin-top: 700px;
  text-align: center;
}

#projects {
  margin-top: 700px;
  text-align: center;
}

#contact {
  margin-top: 700px;
  text-align: center;
}

#experience {
  margin-top: 700px;
  text-align: center;
}

#experience .experience {
  margin-bottom: 25px;
}

#back-to-top-btn {
  display: none; /* hide the button by default */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #333333;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.timeline {
  position: relative;
  background: #272e48;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5rem;
  margin: 0 auto 1rem auto;
  overflow: hidden;
}

.timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  border-right: 2px dashed #4b546f;
  height: 100%;
  display: block;
}

.timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 30px;
}
.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 15px;
  text-align: right;
  margin-right: 20px;
  color: #bcd0f7;
  font-size: 1.5rem;
}

.timeline-row .timeline-time small {
  display: block;
  font-size: 0.8rem;
}
.timeline-row .timeline-content {
  position: relative;
  padding: 20px 30px;
  background: #1a233a;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 16px;
  width: 16px;
  background: #1a233a;
}
.timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -49px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 10;
  background: #272e48;
  border: 2px dashed #4b546f;
}

.timeline-row .timeline-content h4 {
  margin: 0 0 20px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 150%;
}
.timeline-row .timeline-content p {
  margin-bottom: 30px;
  line-height: 150%;
}
.timeline-row .timeline-content i {
  font-size: 1.2rem;
  line-height: 100%;
  padding: 15px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #272e48;
  margin-bottom: 10px;
  display: inline-block;
}
.timeline-row .timeline-content .thumbs {
  margin-bottom: 20px;
  display: flex;
}
.timeline-row .timeline-content .thumbs img {
  margin: 5px;
  max-width: 60px;
}

.timeline-row .timeline-content .thumbs img {
  margin: 5px;
  max-width: 60px;
}
.timeline-row .timeline-content .badge {
  color: #ffffff;
  background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
}
.timeline-row:nth-child(even) .timeline-content {
  margin-left: 40px;
  text-align: left;
}
.timeline-row:nth-child(even) .timeline-content:after {
  left: -8px;
  right: initial;
  border-bottom: 0;
  border-left: 0;
  transform: rotate(-135deg);
}
.timeline-row:nth-child(even) .timeline-content:before {
  left: -52px;
  right: initial;
}
.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
  margin-right: 40px;
}
.timeline-row:nth-child(odd) .timeline-content:after {
  right: -8px;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}

@media (max-width: 992px) {
  .timeline {
    padding: 15px;
  }
  .timeline:after {
    border: 0;
  }
  .timeline .timeline-row:nth-child(odd) {
    padding: 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content {
    margin: 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content:before {
    display: none;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content:after {
    display: none;
  }
  .timeline .timeline-row:nth-child(even) {
    padding: 0;
  }
  .timeline .timeline-row:nth-child(even) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
    text-align: left;
  }
  .timeline .timeline-row:nth-child(even) .timeline-content {
    margin: 0;
  }
  .timeline .timeline-row:nth-child(even) .timeline-content:before {
    display: none;
  }
  .timeline .timeline-row:nth-child(even) .timeline-content:after {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 0.667em;
  }
  h1 {
    font-size: 2.778em;
  }
}
