body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  color: white;
  font-family: "Silkscreen", cursive;
}
h1 {
  font-size: 110px;
  line-height: 3px;
  font-family: "Black Ops One", cursive;
}
header {
  height: 100vh;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.menu {
  margin: 20px 50px;
}
.intro {
  position: absolute;
  top: 200px;
  left: 80px;
}
